body {
  /*display: flex;
   align-items: stretch; 
   flex-flow: column; 
   flex-direction: column;*/  

   background-color: #bbdefb;
   height: 100%;
   padding: 15px;
 }

 body > div{
   background: #ffecb3;
   border: 3px solid #ffcc80;
   border-radius: 5px;
   padding: 8px;
 }

.titulo{ 
   /* flex:1 1 auto; */
   flex-grow:1;
   text-align: center;
 }

.break {
   flex-direction: column;
   text-align: center;
 }

.bbdd {
   display: flex;
   align-items: stretch; 
   /* flex-flow: row; */ 
   flex-direction: row;  

   background-color: #ffecb3;
   border: 3px solid #ffcc80;
   height: 100%;
   padding: 15px;
   gap: 5px;
 }

.bbdd > div{
   background: #ffecb3;
   border: 3px solid #ffcc80;
   border-radius: 5px;
   padding: 8px;
 }

.izq { 
   /* flex:1 1 auto; */
   flex-grow:1;
   align-self:stretch;
   flex-direction: column;
   width:50%;
 }

 .izq > div{
   background: #ffecb3;
 }
     
.der { 
   /* flex:1 1 auto; */
   flex-grow:1;
   align-self:stretch;
   flex-direction: column;
   width:50%;
 }

.der > div{
 background: #ffecb3;
}

.der>button {
 border: 3px solid #ffcc80;
 border-radius: 5px;
 padding: 8px;
}

.content {
 display: flex;
 align-self:stretch;
 min-height: 40px;
}

.content > .value{
 width: 70%;
 text-align:center;  
}

.content > .metric{
 width:30%;
 text-align: center;
 display:flex;
 justify-content: space-evenly;
}

.content:hover{
   filter: brightness(0.9);
   cursor:pointer;
}

.content > div{
   background: #ffecb3;
   border: 3px solid #ffcc80;
 }

.content,
#rightdiv {
 min-height: 60px;
 max-height: 60px;
}

.botones {
 height: 25rem;
 display: flex;
 flex-direction: column;
 -ms-flex-align: baseline;
 align-items: center;
}

.newRow {
 width: 100%;
}

.botonIni {
 height: 5rem;
 width: 15rem;
 margin-top: 5rem;
}

.selected{
   filter: brightness(80%);
}

#buttons{
 position: fixed;
 right: 0;
 bottom: 0;
}

.linked{
 border: 1px solid black;
}

.linked-clicked{
 border: 2px solid white;
}

#unlink{
 filter: grayscale(90%);
}

#new-name{
 position:fixed;
 display: flex;
 flex-grow: 1;
 width: 22%;
 height: 13%;
 margin-top: -7%;
 margin-left: -11%;
 top: 50%;
 left: 50%;
 border-radius: 10px;
 box-sizing: border-box;
}
#new-name > input{
 width:70%
}

#confirm-cancel{
 width:30%;
 display:flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
}

#confirm-cancel > button{
 width: 100%;
 margin: 2px;
 box-sizing: border-box;
}

a {
 text-decoration: none;
 color: white;
}

button {
 text-decoration: none;
 color: black;
}

.botonAtras {
 border-style: none;
 background-color: #ffecb3;
}

#modelo{
  width: 70%;
  display:flex;
  flex-flow: column; 
}

.model { 
  width:100%;
  display:flex;
  flex-grow:1;
  align-self:stretch;
}

.model > div{
background: #ffecb3;
}

.model>button {
border: 3px solid #ffcc80;
border-radius: 5px;
padding: 8px;
}