<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear modelo</title>
    <link rel='stylesheet' href='../css/bootstrap.min.css' />
    <link rel='stylesheet' href='../css/edit.css' />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/addRow.js"></script>
    <script src="../js/read_csv.js"></script>
    <script src="../js/rellenarSelects.js"></script>
</head>
<body>
  <div class="titulo">
    <div class="row">
      <div class="col">
        <button type="button" class="botonAtras"><a href="/"><img src="/img/volver2.png" width="50px" height="50px" class="rounded-circle"></a></button>
      </div>
      <div class="col col-11">
        <h1 style="margin-right: 7rem;">Estandarizador de BBDD</h1> 
      </div>
    </div>
    <br>
    <div class="row" style="display: flex; justify-content: center;">
      <h2>Crear un modelo propio</h2>
    </div>
  </div>
  <div class="break" style="display: none;">
    <input type="file" onchange="readCSVFile(event);" accept=".csv" />
  </div>
  <!--
  <div class="break">
    <button class="btn btn-outline-warning"><a href="/crear_medidas" style="text-decoration: none; color: black;">Crear nuevas medidas</a></button>
  </div>
  -->
  <form action="/crear_modelo" method="POST" id="formularioModelo">
    <div class="bbdd">
      <div class="der">
        <input type="text" placeholder="Nombre del campo" name="campo">
        <label for="tipoSelect">Tipo:</label>
        <select id="tipoSelect" onchange="llenarNombres()">
          <option value="">Selecciona una opción</option>
            <% tipos.forEach((tipo) => { %>
                <option value="<%= tipo %>"><%= tipo %></option>
            <% }); %>
        </select>

        <% console.log(medidas); %>
        <label for="medidaSelect">Medida:</label>
        <select id="medidaSelect">
            <!-- Las medidas se llenarán dinámicamente según el tipo seleccionado -->
        </select>
        <!--
        <div class="campos" id="campo0">
          
          <input type="text" placeholder="Nombre del campo" name="campo">
          <select name="tipoUds" id="tipo" onchange="measure(event);">
            <option value="none">Selecciona una opción</option>
            <option value="long">Longitud</option>
            <option value="peso">Peso/masa</option>
            <option value="cant">Cantidad</option>
            <option value="vol">Volumen</option>
            <option value="temp">Temperatura</option>
            <option value="otros">Otros</option>
          </select>
          <select class="medidas" name="none" id="none"  style="display: none;">
            <option value="none">Selecciona una opción</option>
          </select>
          <select class="medidas" name="long" id="long" style="display: none;">
            <option value="none">Selecciona una opción</option>
            <option value="m">Metros</option>
            <option value="mm">Milímietros</option>
            <option value="pul">Pulgadas</option>
          </select>
          <select class="medidas" name="peso" id="peso" style="display: none;">
            <option value="none">Selecciona una opción</option>
            <option value="kg">Kilogramos</option>
            <option value="g">Gramos</option>
            <option value="mg">Miligramos</option>
            <option value="lb">Libras</option>
          </select>
          <select class="medidas" name="cant" id="cant" style="display: none;">
            <option value="none">Selecciona una opción</option>
            <option value="uds">Unidades</option>
            <option value="k">Miles</option>
            <option value="mll">Millones</option>
            <option value="mls">Milésimas</option>
          </select>
          <select class="medidas" name="vol" id="vol" style="display: none;">
            <option value="none">Selecciona una opción</option>
            <option value="cc">Cenímetros cúbicos</option>
            <option value="l">Litros</option>
            <option value="ml">Mililitros</option>
          </select>
          <select class="medidas" name="temp" id="temp" style="display: none;">
            <option value="none">Selecciona una opción</option>
            <option value="C">Grados Centígrados (ºC)</option>
            <option value="F">Grados Fahrenheit (ºF)</option>
            <option value="K">Grados Kelvin (ºK)</option>
          </select>
          <select class="medidas" name="otros" id="otros" style="display: none;">
            <option value="none">Selecciona una opción</option>
            <option value="mmHg">Milímetros de mercurio (mmHg)</option>
            <option value="cal">Calorías</option>
            <option value="kcal">Kilocalorías</option>
          </select> -->
        </div>
        <button type="button" class="btn btn-outline-warning newRow" style="text-decoration: none; color: black; margin-top: 10px;" id="nuevoCampo" onclick="newRow(event);">Añadir campo</button>
      </div>
      <button class="btn btn-outline-warning" style="text-decoration: none; color: black;" type="submit">Guardar</button>
    </div>
  </form>
</body>
</html>